## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("data/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,63.00,86,100,3.00,overcast clouds
1,1,Kaeo,NZ,-35.1000,173.7833,56.75,82,92,3.83,overcast clouds
2,2,Silopi,TR,37.2497,42.4694,73.40,31,75,12.66,broken clouds
3,3,Busselton,AU,-33.6500,115.3333,52.00,97,100,4.36,overcast clouds
4,4,Biltine,TD,14.5333,20.9167,90.07,23,99,5.32,overcast clouds

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City ID              696 non-null    int64
 1   City                 696 non-null    object
 2   Country              692 non-null    object
 3   Lat                  696 non-null    float64
 4   Lng                  696 non-null    float64
 5   Max Temp             696 non-null    float64
 6   Humidity             696 non-null    int64
 7   Cloudiness           696 non-null    int64
 8   Wind Speed           696 non-null    float64
 9   Current Description  696 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 54.5+ KB

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 30
What is your maximum temperature preference?
max_temp: 40

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Sobolevo,RU,54.4299,31.8996,31.51,79,12,7.58,few clouds
10,10,Qaanaaq,GL,77.4840,-69.3632,31.48,74,27,4.07,scattered clouds
36,36,Nikolskoye,RU,59.7035,30.7861,39.00,93,90,8.95,overcast clouds
50,50,Maniitsoq,GL,65.4167,-52.9000,39.69,80,100,2.39,overcast clouds
51,51,Upernavik,GL,72.7868,-56.1549,36.27,83,4,4.05,clear sky
53,53,Valley,US,45.1277,-116.1262,39.99,70,90,10.36,overcast clouds
56,56,Tasiilaq,GL,65.6145,-37.6368,37.40,70,90,19.57,light rain
61,61,Provideniya,RU,64.3833,-173.3000,35.60,69,0,2.24,clear sky
78,78,Kajaani,FI,64.2273,27.7285,35.60,93,90,6.91,overcast clouds
80,80,Aasiaat,GL,68.7098,-52.8699,36.39,75,71,2.08,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

77

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Sobolevo,RU,54.4299,31.8996,31.51,79,12,7.58,few clouds
10,10,Qaanaaq,GL,77.4840,-69.3632,31.48,74,27,4.07,scattered clouds
36,36,Nikolskoye,RU,59.7035,30.7861,39.00,93,90,8.95,overcast clouds
50,50,Maniitsoq,GL,65.4167,-52.9000,39.69,80,100,2.39,overcast clouds
51,51,Upernavik,GL,72.7868,-56.1549,36.27,83,4,4.05,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sobolevo,RU,31.51,few clouds,54.4299,31.8996,
10,Qaanaaq,GL,31.48,scattered clouds,77.4840,-69.3632,
36,Nikolskoye,RU,39.00,overcast clouds,59.7035,30.7861,
50,Maniitsoq,GL,39.69,overcast clouds,65.4167,-52.9000,
51,Upernavik,GL,36.27,clear sky,72.7868,-56.1549,
53,Valley,US,39.99,overcast clouds,45.1277,-116.1262,
56,Tasiilaq,GL,37.40,light rain,65.6145,-37.6368,
61,Provideniya,RU,35.60,clear sky,64.3833,-173.3000,
78,Kajaani,FI,35.60,overcast clouds,64.2273,27.7285,
80,Aasiaat,GL,36.39,broken clouds,68.7098,-52.8699,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
       
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    print(params)
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found....skipping")
        hotel_df.loc[index, "Hotel Name"] = np.nan

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '54.4299,31.8996'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '77.484,-69.3632'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '59.7035,30.7861'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '65.4167,-52.9'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '72.7868,-56.1549'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '45.1277,-116.1262'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '65.6145,-37.6368'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '64.3833,-173.3'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '64.2273,27.7285'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '68.7098,-52.8699'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '53.0452,158.6483'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '58.4127,51.2782'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '57.3064,88.1667'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '59.427,25.0962'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '54.9508,20.2275'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '58.9564,126.2925'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '69.3143,16.1194'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '55.2353,84.3858'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '55.7435,-97.8558'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '50.6789,156.125'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '66.7697,123.3711'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '53.5521,14.5718'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '70.8578,29.0864'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '66.8333,70.8333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '47.26,132.0322'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '59.5594,9.2585'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '65.282,-126.8329'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '63.7553,121.6247'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '63.7506,-68.5145'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '34.0333,75.3333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '55.6305,34.2842'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '49.8602,13.7726'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '56.0815,99.6342'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '66.0764,33.0381'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '64.808,25.9931'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '70.3705,31.1107'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '53.6039,91.3903'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '65.85,74.4859'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '69.1989,33.4478'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '63.05,179.3167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '63.2842,118.3319'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '52.0428,33.9453'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '52.1451,25.5365'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '64.2457,12.3778'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '68.0531,39.5131'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '55.045,60.1083'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '54.7167,158.6167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '39.4667,141.95'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '62.1444,117.6319'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '45.9793,-81.9248'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '43.3236,145.575'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '66.1451,-65.7125'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '61.994,-49.6678'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '54.4275,45.3296'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '54.1667,93.3'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '58.6031,125.3894'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '62.5833,6.1333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '47.6967,131.0981'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '66.0449,-17.3389'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '50.09,19.0929'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '37.05,140.8833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '59.0925,57.8008'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '66.5606,67.7975'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '63.1142,21.6822'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '64.8621,11.2373'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '67.667,12.6934'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '-46.2817,169.8464'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '56.9514,90.6661'}

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '64.7507,20.9528'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '51.2585,-80.6094'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '52.6333,29.7333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '67.6803,53.1512'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '54.2631,36.1606'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '56.8817,56.5813'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '49.758,129.523'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '65.9702,-18.5286'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyADjO1hNgevZvra6_NdTGNfPFmN7kFZ4zQ', 'location': '48.7834,-87.1'}

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Qaanaaq,GL,31.48,scattered clouds,77.4840,-69.3632,Qaanaaq Hotel
36,Nikolskoye,RU,39.00,overcast clouds,59.7035,30.7861,Tourist House - Sablino
50,Maniitsoq,GL,39.69,overcast clouds,65.4167,-52.9000,Hotel Heilmann Lyberth
51,Upernavik,GL,36.27,clear sky,72.7868,-56.1549,Gina's Guesthouse - Upernavik
56,Tasiilaq,GL,37.40,light rain,65.6145,-37.6368,The Red House
78,Kajaani,FI,35.60,overcast clouds,64.2273,27.7285,Original Sokos Hotel Valjus
80,Aasiaat,GL,36.39,broken clouds,68.7098,-52.8699,Hotel Aasiaat Sømandshjem
92,Petropavlovsk-Kamchatskiy,RU,33.80,light rain,53.0452,158.6483,The Hotel Petropavlovsky
95,Kosino,RU,35.76,broken clouds,58.4127,51.2782,Kbf Grupp
132,Pionerskiy,RU,36.00,scattered clouds,54.9508,20.2275,Baltica Pension

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [13]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))